 <div class="container"> 
     <h1>商品新規登録</h1>
    <div class="row">
      
      <%= form_with model: @item, url: admin_items_path  do |f| %>
        <ul>
          <label>画像</label>
            <%= f.file_field :image, accept: "image/*" %>
        </ul>
        <ul>
          <label>名前</label>
            <%= f.text_field :name%>
        </ul>
        
        <ul>
          <label>説明</label>
            <%= f.text_area :introduction %>
        </ul>
        <ul>
          
          <label>ジャンル</label>
          
            <%= f.collection_select :genre_id,@genre_name, :id, :name %>
        </ul>
        <ul>
          <label>価格</label>
            <%= f.text_field :price %>
        </ul>
        <ul>
          
            <div class="done">
            <label>販売ステータス</label>
            <label>
              <%= f.radio_button :is_active, true %>
              <%= f.label :is_active, '販売中', value: true %>
            </label>
            <label>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, '販売停止中', value: false %>
            </label>
          </div>
          <%= f.submit '投稿',class: 'btn-success' %>
        </ul>
      
      <% end %>
    </div>
</div>