<h1><%=@customer.first_name+@customer.last_name%>さんの会員情報編集</h1>
<%= form_with model: @customer, url:  admin_update_customer_path(@customer.id) do |f| %>
<p>会員ID</p>
<%=@customer.id%>
<p>氏名</p>
    <%= f.text_field :first_name%>
    <%= f.text_field :last_name%>
<p>フリガナ</p>
    <%= f.text_field :first_name_kana%>
    <%= f.text_field :last_name_kana%>
<p>郵便番号</p>
    <%= f.text_field :postal_code%>
<p>住所</p>
    <%= f.text_field :address%>
<p>メールアドレス</p>
    <%= f.text_field :email%>
<div>
        <%= f.radio_button :is_deleted, true %>
        <%= f.label :is_active, '退会', value: true %>
      </div>
      <div>
        <%= f.radio_button :is_deleted, false %>
        <%= f.label :is_active, '有効', value: false %>
      </div>
    <%= f.submit '編集を保存' %>
<%end%>