<main>
<h1><%=@customer.first_name+@customer.last_name%>さんの会員情報編集</h1>
    <table>
    <%= form_with model: @customer, url:  admin_update_customer_path(@customer.id) do |f| %>
    <tr>
        <div class="form-group">
            <td>会員ID</td>
            <td><%=@customer.id%></td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>氏名</td>
            <td>
                <%= f.text_field :first_name%>
                <%= f.text_field :last_name%>
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>フリガナ</td>
            <td>
                <%= f.text_field :first_name_kana%>
                <%= f.text_field :last_name_kana%>
            </td>
        </div>
    </tr>
    <tr>
        <td>郵便番号</td>
        <td><%= f.text_field :postal_code%></td>
    </tr>
    <tr>
        <td>住所</td>
        <td><%= f.text_field :address%></td>
    </tr>
    <tr>
        <td>メールアドレス </td>
        <td><%= f.text_field :email%></td>
    </tr>
        
    
        
    <tr>
        <td>会員ステータス</td>
        <td>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_active, '退会', value: true %>
        </td> 
        <td>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_active, '有効', value: false %>
        </td>
          
    </tr>
    <tr>
        <td><%= f.submit '編集を保存' %></td>
    </tr>
    <%end%>
    </table>
</main>