<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre, url: admin_genres_path  do |f| %>
<label>名前</label>
     <%= f.text_field :name%>
     <%= f.submit '新規投稿' %>
<%end%>
<div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
    <div class="col-lg-8">  
        <table class="table table-striped">
            <td>ジャンル
                <% @genres.each do |genre| %>
                
                    <ul><%= genre.name %>
                    <%= link_to "プロフィール編集",admin_path(genre.id), class: "btn btn-secondary"%></ul>
                    <ul></ul>
                
                <%end%>
            </td>
        
    
         
    
        </table>
    </div>
  </div> 
</div>  