<h1>注文履歴</h1>
<main>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                    <tr>
                        <th>日付</th>
                        <th>配送先</th>
                        <th>注文商品</th>
                        <th>小計</th>
                        <th>ステータス</th>
                        <th>注文詳細</th>
                        <th></th>
                    </tr>
                    <% @orders.each do |order| %>
                    <tr>
                        <td><%=order.created_at.strftime('%Y/%m/%d')%></td>
                        <td>
                            <%='〒'+order.postal_code%></br>
                            <%=order.address%></br>
                            <%=order.name%>
                        </td>
                        <td> <% order.order_details.each do |order_detail| %>
                            <%#=@orders[order_detail.order_id]%>
                            <%=@items[order_detail.item_id-1].name%></br>
                        <%end%>      
                        </td>
                        <td><%=order.total_payment%></td>
                        <td><%= button_to "表示する", public_path(order.id), method: :get,class: 'btn-primary'%></td>
                        <td><%=order.status_i18n%></td>
                        <td>
                           
                        </td>
                    </tr>
                    <%end%>
            </table>
            
        </div>
      </div>
      <%= paginate @orders %>
    </div>
</main>
     


  
    
