<h1>商品新規登録</h1>
<%= form_with model: @item, url: admin_items_path  do |f| %>
    <label>名前</label>
      <%= f.text_field :name%>
    <label>紹介</label>
      <%= f.text_field :introduction %>
    <label>説明</label>
      <%= f.text_area :caption %>
    
    <label>ジャンル</label>
      <%= f.select :genre_id, ['ケーキ', 'プリン', '焼き菓子'], {include_blank: '選択してください'}, class: 'sample' %>
    <label>価格</label>
      <%= f.text_field :price %>
      
    <label>販売ステータス</label>
      <div class="done">
      <%= f.label :販売ステータス %>
      <div>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, '販売中', value: true %>
      </div>
      <div>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, '販売停止中', value: false %>
      </div>
    </div>
    <%= f.submit '投稿' %>

<% end %>