<h1>Public::Items#show</h1>

<li>
    <td>画像</td>
    <% if @item.image.attached? %>
        <td><%= image_tag @item.image, size: "100x100" %></td>
    <% else %>
        <td><%= image_tag 'no_image', size: "100x100" %></td>
    <% end %>
    
</li>
  
<li>
    <td>商品名</td>
    <td><%=@item.name%></td>
</li>
<li>
    <td>商品名</td>
    <td><%=@item.introduction%></td>
</li>
<li>
    <td>税込価格</td>
    <td><%=@item.price%></td>
</li>

<%= select_tag 'name', options_for_select({"1": 1, "2": 2, "3": 3}, "個数を選択"), include_blank: true %>
<% if customer_signed_in? %>
    
    <%= link_to '購入する', public_cart_items_index_path %>
<%end%>

